<br>
<br>
<br>
<br>
<div class="three-col">

<% @schools.each do |m| %>
      <a href="/schools/<% m.id %>" id="f-htmlipsum" class="footer-box">      
      <h5><%= m.name %></h5>
      <p><%= m.location %></p>
      <p><%= m.age %></p>
      </a>
      <% end %>
      </div>
      </p>

      </div>
      </div>